@use 'atoms';
@use 'molecules';

body,
html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;

  *:not(router-outlet) {
    position: relative;
  }
}

$config: (
  typography: (
    button-medium: (
      font-family: 'Open Sans',
      font-size: 1.4rem,
      font-weight: 400,
      line-height: 1.4rem,
    ),
    input: (
      font-family: 'Source Sans Pro',
      font-size: 1.6rem,
      font-weight: 400,
      line-height: 1.6rem,
    ),
    label: (
      font-family: 'Open Sans',
      font-size: 1.2rem,
      font-weight: 400,
      line-height: 1.6rem,
    ),
    toolbar: (
      font-family: 'Lato',
      font-size: 2.2rem,
      font-weight: 400,
      line-height: 2.2rem,
    ),
    heading: (
      font-family: 'Source Sans Pro',
      font-size: 2.4rem,
      font-weight: 600,
      line-height: 3rem,
    ),
    body-regular: (
      font-family: 'Lato',
      font-size: 1.6rem,
      font-weight: 400,
      line-height: 1.6rem,
    ),
    body-bold: (
      font-family: 'Lato',
      font-size: 1.6rem,
      font-weight: 700,
      line-height: 1.6rem,
    ),
    nav: (
      font-family: 'Open Sans',
      font-size: 1.6rem,
      font-weight: 400,
      line-height: 1.6rem,
    ),
  ),
  colors: (
    primary: (
      color: #ffffff,
      background-color: #000000,
      border-color: #ffffffff,
    ),
    disabled: (
      color: #808080,
      background-color: lighten(#000000, 12%),
      border-color: none,
    ),
    error: (
      color: #dd4545,
      background-color: lighten(#000000, 12%),
      border-color: #dd4545,
    ),
  ),
);

@include atoms.rc-atoms-theme($config);
@include molecules.rc-molecules-theme($config);
