:host {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.4rem;
  justify-content: flex-start;
  height: 6rem;
  padding: 0 1.6rem;
}

body,
html {
  box-sizing: border-box;
  font-size: 10px;
}

.rc-avatar {
  font-size: 4.8rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 2px solid #ffffffff;
}

button {
  -webkit-appearance: none;
          appearance: none;
  border: none;
}

a {
  text-decoration: none;
}

.rc-button-icon {
  color: #ffffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.4rem;
  background-color: transparent;
}

.rc-button-icon:is(.rc-disabled) > * {
  color: #808080ff;
}

rc-card {
  display: inline-flex;
  flex-flow: column;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 5px, rgba(0, 0, 0, 0.24) 0 3px 5px;
  color: #ffffffff;
  background-color: #000000ff;
}

.rc-card-header {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.rc-card-header:not(:empty) {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  column-gap: 1rem;
  grid-row-gap: 0.4rem;
  row-gap: 0.4rem;
  align-items: center;
  padding: 1.6rem 1.6rem 0 1.6rem;
}

.rc-card-header:not(:empty) .rc-avatar {
  grid-row: 1/span 2;
}

.rc-card-header:not(:empty) .rc-card-title {
  grid-row: 1/span 1;
}

.rc-card-header:not(:empty) .rc-card-subtitle {
  grid-row: 2/span 1;
}

.rc-card-content {
  display: block;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.6rem;
}

.rc-card-title {
  font-size: 2.4rem;
  font-family: "Source Sans Pro";
  font-weight: 600;
  line-height: 3rem;
  display: block;
}

.rc-card-subtitle {
  font-size: 1.6rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.6rem;
  display: block;
  color: #b3b3b3;
}

.rc-input {
  -webkit-appearance: none;
          appearance: none;
  outline: none;
  padding: 1rem 1.6rem;
  min-width: 18rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border: none;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Source Sans Pro";
  font-weight: 400;
  line-height: 1.6rem;
  color: #ffffffff;
  background-color: #000000ff;
}

.rc-input:not(.rc-outlined) {
  border-bottom: 0.1rem solid #ffffffff;
}

.rc-input:not(.rc-outlined):focus {
  border-bottom-width: 0.2rem;
}

.rc-input:not(:disabled):hover {
  background-color: #1f1f1f;
}

.rc-input:not(:disabled).rc-outlined {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  outline: 0.1rem solid #ffffffff;
}

.rc-input:not(:disabled).rc-outlined:focus {
  outline-width: 0.2rem;
}

.rc-input:disabled {
  border: none;
  color: gray;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp,
.material-icons-two-tone {
  color: #ffffffff;
}

rc-nav-menu {
  display: flex;
  flex-flow: column;
  min-width: min-content;
  width: 25rem;
  height: 100%;
  position: absolute;
  background-color: #000000ff;
  overflow: hidden;
  left: 0;
}

.rc-nav-menu-item {
  font-size: 1.6rem;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.6rem;
  padding: 1.2rem 2rem;
  color: #ffffffff;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.rc-nav-menu-item.rc-selected {
  font-weight: bold;
  border-left: 2px solid #ffffffff;
}

rc-toolbar {
  font-size: 2.2rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 2.2rem;
  color: #ffffffff;
  background-color: #000000ff;
}
