:host {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.4rem;
  justify-content: flex-start;
  height: 6rem;
  padding: 0 1.6rem;
}

body,
html {
  box-sizing: border-box;
  font-size: 10px;
}

rc-accordion {
  display: flex;
  flex-flow: column nowrap;
  background-color: #000000;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 5px, rgba(0, 0, 0, 0.24) 0 3px 5px;
  border-radius: 0.4rem;
  overflow: hidden;
}

rc-accordion .rc-accordion-bloc {
  display: flex;
  flex-flow: column nowrap;
}

rc-accordion .rc-accordion-bloc-header {
  font-size: 2.4rem;
  font-family: "Source Sans Pro";
  font-weight: 600;
  line-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

rc-accordion rc-accordion-bloc-content {
  font-size: 1.6rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.6rem;
  display: flex;
  overflow: hidden;
}

rc-accordion .rc-accordion-bloc-content-wrapper {
  padding: 0.8rem 1.2rem;
}

.rc-avatar {
  font-size: 4.8rem;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  border: 2px solid white;
}

button {
  -webkit-appearance: none;
          appearance: none;
  border: none;
}

a {
  text-decoration: none;
}

.rc-button-icon {
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.4rem;
  background-color: transparent;
}

.rc-button-icon:is(.rc-disabled) > * {
  color: #808080;
}

rc-card {
  display: inline-flex;
  flex-flow: column;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0 3px 5px, rgba(0, 0, 0, 0.24) 0 3px 5px;
  color: #ffffff;
  background-color: #000000;
}

.rc-card-header {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.rc-card-header:not(:empty) {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.4rem;
  align-items: center;
  padding: 1.6rem 1.6rem 0 1.6rem;
}

.rc-card-header:not(:empty) .rc-avatar {
  grid-row: 1/span 2;
}

.rc-card-header:not(:empty) .rc-card-title {
  grid-row: 1/span 1;
}

.rc-card-header:not(:empty) .rc-card-subtitle {
  grid-row: 2/span 1;
}

.rc-card-content {
  display: block;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.6rem;
}

.rc-card-title {
  font-size: 2.4rem;
  font-family: "Source Sans Pro";
  font-weight: 600;
  line-height: 3rem;
  display: block;
}

.rc-card-subtitle {
  font-size: 1.6rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.6rem;
  display: block;
  color: #b3b3b3;
}

rc-checkbox {
  font-size: 1.6rem;
  font-family: "Source Sans Pro";
  font-weight: 400;
  line-height: 1.6rem;
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 1.6rem;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

rc-checkbox:is(.rc-disabled) {
  cursor: default;
}

rc-checkbox:is(.rc-disabled) > * {
  color: #808080;
}

rc-checkbox.rc-label-before {
  flex-direction: row-reverse;
}

rc-checkbox label {
  color: #ffffff;
  cursor: inherit;
}

rc-checkbox input {
  position: absolute;
  left: -9999px;
}

rc-form-field {
  display: inline-flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #000000;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom: 0.1rem solid white;
}

rc-form-field:not(.rc-disabled) {
  cursor: text;
}

rc-form-field:not(.rc-disabled):hover * {
  background-color: #1f1f1f;
}

rc-form-field:not(.rc-disabled).rc-outlined {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border-bottom-width: 0;
  outline: 0.1rem solid white;
}

rc-form-field:not(.rc-disabled).rc-outlined.rc-focused {
  outline-width: 0.2rem;
}

rc-form-field:not(.rc-disabled).rc-error {
  color: #dd4545;
  border-color: #dd4545;
}

rc-form-field.rc-disabled {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  color: gray;
  border-bottom-width: 0;
}

rc-form-field.rc-focused {
  border-bottom-width: 0.2rem;
}

.rc-input {
  -webkit-appearance: none;
          appearance: none;
  outline: none;
  padding: 1rem 1.6rem;
  min-width: 18rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border: none;
  margin: 0;
  font-size: 1.6rem;
  font-family: "Source Sans Pro";
  font-weight: 400;
  line-height: 1.6rem;
  color: #ffffff;
  background-color: #000000;
}

.rc-input:not(:disabled):hover {
  background-color: #1f1f1f;
}

.rc-input:disabled {
  border: none;
  color: gray;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

rc-label {
  font-size: 1.2rem;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.6rem;
  color: inherit;
  padding: 1rem 1.6rem 0 1.6rem;
}

:is(.rc-required) rc-label::after {
  content: " *";
}

.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp,
.material-icons-two-tone {
  color: #ffffff;
}

rc-nav-menu {
  display: flex;
  flex-flow: column;
  min-width: min-content;
  width: 25rem;
  height: 100%;
  position: absolute;
  background-color: #000000;
  overflow: hidden;
  left: 0;
}

.rc-nav-menu-item {
  font-size: 1.6rem;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 1.6rem;
  padding: 1.2rem 2rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.rc-nav-menu-item.rc-selected {
  font-weight: bold;
  border-left: 2px solid white;
}

rc-rate:not(.rc-disabled) {
  cursor: pointer;
}

rc-rate.rc-disabled rc-material-icon {
  color: #808080;
}

rc-toolbar {
  font-size: 2.2rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 2.2rem;
  color: #ffffff;
  background-color: #000000;
}
